<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PedeMath</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <%- include('../partials/navbar.ejs') %>
    <div class="container my-5">
      <div class="mb-4 d-flex align-items-end justify-content-between">
        <h1>Data Kuis</h1>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#kuisModal"
          onclick="addKuis()">
          Add Kuis
        </button>
      </div>
      <div class="table-responsive">
        <table class="table text-center">
          <thead class="thead-light">
            <tr>
              <th scope="col" width="5%">#</th>
              <th scope="col">Soal</th>
              <th scope="col">Level</th>
              <th scope="col" width="10%">Bilangan 1</th>
              <th scope="col" width="10%">Operasi</th>
              <th scope="col" width="10%">Bilangan 2</th>
              <th scope="col" width="10%">Jawaban</th>
              <th scope="col" width="20%">Tindakan</th>
            </tr>
          </thead>
          <tbody>
            <% kuises.forEach((kuis, i)=> { %>
              <tr>
                <td>
                  <%= i+1 %>
                </td>
                <td>
                  <%= kuis.nama %>
                </td>
                <td>
                  Level <%= kuis.level_id %>
                </td>
                <td>
                  <%= kuis.soal_atas %>
                </td>
                <td>
                  <%= kuis.operasi %>
                </td>
                <td>
                  <%= kuis.soal_bawah %>
                </td>
                <td>
                  <%= kuis.jawaban %>
                </td>
                <td>
                  <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal"
                    data-target="#kuisModal"
                    onclick="editKuis(`<%= kuis.id %>`, `<%= kuis.nama %>`, `<%= kuis.level_id %>`, `<%= kuis.soal_atas %>`, `<%= kuis.operasi %>`, `<%= kuis.soal_bawah %>`, `<%= kuis.jawaban %>`)">
                    Edit
                  </button>
                  <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal"
                    data-target="#deleteModal" onclick="deleteKuis(`<%= kuis.id %>`)">Delete</button>
                </td>
              </tr>
              <% }); %>
          </tbody>
        </table>
      </div>
    </div>

    <!-- User Modal -->
    <div class="modal fade" id="kuisModal" tabindex="-1" role="dialog" aria-labelledby="kuisModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form action="" method="POST" id="form-kuis">
            <div class="modal-header">
              <h5 class="modal-title" id="title-form">Edit Kuis</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="nama" class="mb-0">Nama Soal</label>
                <input type="text" name="nama" id="nama" class="form-control">
              </div>
              <div class="mb-3">
                <label for="level_id" class="mb-0">Level</label>
                <select name="level_id" id="level_id" class="form-control">
                  <% levels.forEach((level, i) => { %>
                    <% if(i == 0) { %>
                      <option value="<%= level.id %>" selected><%= level.nama %></option>
                    <% } else { %>
                      <option value="<%= level.id %>" selected><%= level.nama %></option>
                    <% } %>
                  <% }); %>
                </select>
              </div>
              <div class="mb-3">
                <label for="soal_atas" class="mb-0">Soal 1</label>
                <input type="number" name="soal_atas" id="soal_atas" class="form-control">
              </div>
              <div class="mb-3">
                <label for="operasi" class="mb-0">Operasi</label>
                <input type="text" name="operasi" id="operasi" class="form-control" value="+" readonly>
              </div>
              <div class="mb-3">
                <label for="soal_bawah" class="mb-0">Soal 2</label>
                <input type="number" name="soal_bawah" id="soal_bawah" class="form-control">
              </div>
              <div class="mb-3">
                <label for="jawaban" class="mb-0">Jawaban</label>
                <input type="number" name="jawaban" id="jawaban" class="form-control">
              </div>
            </div>
            <div class="modal-footer">
              <button type="reset" class="btn btn-secondary" data-dismiss="modal" onclick="resetForm()">Batal</button>
              <button type="submit" class="btn btn-primary" id="saveEditButton">Simpan</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form action="" method="POST" id="form-delete-kuis">
            <div class="modal-header">
              <h5 class="modal-title" id="title-form">Delete User</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Apakah kamu yakin ingin menghapus data kuis ini?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
              <button type="submit" class="btn btn-danger">Hapus</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      addKuis = () => {
        $('#kuisModal').modal('show');
        $('#title-form').html('Add Kuis')
        $('#nama').val('')
        $('#level_id').val(1)
        $('#soal_atas').val(0)
        $('#soal_bawah').val(0)
        $('#jawaban').val(0)
        $('#form-kuis').attr('action', `/kuis/add`)
      }

      editKuis = (id, nama, level_id, soal_atas, operasi, soal_bawah, jawaban) => {
        $('#kuisModal').modal('show');
        $('#title-form').html('Edit Kuis')
        $('#nama').val(nama)
        $('#level_id').val(level_id)
        $('#soal_atas').val(soal_atas)
        $('#operasi').val(operasi)
        $('#soal_bawah').val(soal_bawah)
        $('#jawaban').val(jawaban)
        $('#form-kuis').attr('action', `/kuis/edit/${id}`)
      }

      deleteKuis = (id) => {
        $('#deleteModal').modal('show');
        $('#form-delete-kuis').attr('action', `/kuis/delete/${id}`)
      }

      hitungHasil = () => {        
        $('#jawaban').val($('#soal_atas').val(soal_atas) + $('#soal_bawah').val(soal_bawah))
      }

      resetForm = () => {
        $('#title-form').html('Add Kuis')
        $('#form-kuis').attr('action', `/kuis/add`)
      }
    </script>
</body>

</html>