<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PedeMath</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <%- include('../partials/navbar.ejs') %>
    <div class="container mt-5">
      <h1 class="mb-4">Data User</h1>
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col" width="5%">#</th>
              <th scope="col">Nama</th>
              <th scope="col">Kelas</th>
              <th scope="col">Video</th>
              <th scope="col">Materi</th>
              <th scope="col">Kuis</th>
              <th scope="col">Bintang</th>
              <th scope="col">Tindakan</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach((user, i)=> { %>
              <tr>
                <td>
                  <%= i+1 %>
                </td>
                <td>
                  <%= user.nama %>
                </td>
                <td>
                  <% if (user.kelas) { %>
                    <%= user.kelas %>
                      <% } else { %>
                        -
                        <% } %>
                </td>
                <td>
                  <%= user.total_video %>
                </td>
                <td>
                  <%= user.total_materi %>
                </td>
                <td>
                  <%= user.total_kuis %>
                </td>
                <td>
                  <%= user.total_bintang %>
                </td>
                <td>
                  <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal"
                    data-target="#editModal"
                    onclick="editUser(`<%= user.id %>`, `<%= user.nama %>`, `<%= user.kelas %>`, `<%= user.total_video %>`, `<%= user.total_materi %>`, `<%= user.total_kuis %>`, `<%= user.total_bintang %>`)">
                    Edit
                  </button>
                  <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal"
                    data-target="#deleteModal" data-id="<%= user.id %>">Delete</button>
                </td>
              </tr>
              <% }); %>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form action="" method="POST" id="form-user">
            <div class="modal-header">
              <h5 class="modal-title" id="title-form">Edit User</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input type="hidden" id="id">
              <div class="mb-3">
                <label for="nama" class="mb-0">Nama</label>
                <input type="text" id="nama" class="form-control">
              </div>
              <div class="mb-3">
                <label for="kelas" class="mb-0">Kelas</label>
                <input type="text" id="kelas" class="form-control">
              </div>
              <div class="mb-3">
                <label for="total_video" class="mb-0">Total Video</label>
                <input type="text" id="total_video" class="form-control">
              </div>
              <div class="mb-3">
                <label for="total_materi" class="mb-0">Total Materi</label>
                <input type="text" id="total_materi" class="form-control">
              </div>
              <div class="mb-3">
                <label for="total_kuis" class="mb-0">Total Kuis</label>
                <input type="text" id="total_kuis" class="form-control">
              </div>
              <div class="mb-3">
                <label for="total_bintang" class="mb-0">Total Bintang</label>
                <input type="text" id="total_bintang" class="form-control">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
              <button type="submit" class="btn btn-primary" id="saveEditButton">Simpan</button>
            </div>
          </form>
        </div>
      </div>
    </div>


    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
      aria-hidden="true">
      <!-- Konten modal disini -->
    </div>

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      editUser = (id, nama, kelas, total_video, total_materi, total_kuis, total_bintang) => {
        $('#editModal').modal('show');
        console.log(id, nama, kelas, total_video, total_materi, total_kuis, total_bintang)
        $('#title-form').html('Edit User')
        $('#id').val(id)
        $('#nama').val(nama)
        $('#kelas').val(kelas)
        $('#total_video').val(total_video)
        $('#total_materi').val(total_materi)
        $('#total_kuis').val(total_kuis)
        $('#total_bintang').val(total_bintang)
        $('#form-user').attr('action', `/${id}`)
      }

      // resetForm = () => {
      //   $('.title-form').html('Add Data Nasabah')
      //   $('#form-nasabah').attr('action', `/tugas1/add`)
      //   $('.btnSubmit').html('Submit')
      //   $('.btnCancel').addClass('d-none')
      // }
    </script>

</body>

</html>